.col-lg-1{
  
    background-color: #f8f9fa;
    margin:auto;
    width:420px;
    height:282px;
    
    }
  
    
  
    .col-lg-6{
    
    background-color: #f8f9fa;
    padding:0px;
    margin-bottom: 12px;
    width:625px;
    
    }
  
  .naslov{
    
    background-color: white;
    border-color:lightgray;
    border-style: solid;
    border-width: 1px;
    width:300px;
    padding:5px;
    margin:auto;
    float:left;
    margin-left:35px;
    margin-top:10px;
    }
  
  
  .s-prema{
    
    background-color: white;
    border-color:lightgray;
    border-style: solid;
    border-width: 1px;
    width:150px;
    margin:auto;
    float:right;
    margin-right:40px;
    margin-top:10px;
    }
  
  /* Filter */
  
  /* reset our lists to remove bullet points and padding */
  
  .col-lg-1,
  .podlista {
    list-style: none;
    padding: 0px;
    margin: auto;
    width:400px;
    
  }
  
  
  /* make ALL links (main and submenu) have padding and background color */
  
  
  .col-lg-1 label {
    display: block;
    background-color: white;
    border-color:lightgray;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    padding: 10px;
    color: #000;
    
  }
  
  .col-lg-1 input {
    display: none;
  }
  
  
  /* add hover behaviour */
  
  .col-lg-1 li:hover {
    background-color: #C5C5C5;
    
  }
  
  
  .col-lg-1 :checked+.podlista {
    display: block;
    max-height: 200px;
    
  }
  
  .podlista li:hover {
    background-color: rgb(143, 208, 228);
    
  }
  
  
  .podlista {
    overflow: hidden;
    max-height: 0;
    transition-property: height;
    width:auto;
  }

  .box1{
    background:white;
    padding:15px;
    border-color:lightgray;
    border-style: solid;
    border-width: 1px;
    margin-top:10px;
    }

  #vrste{
      height: 400px;
      margin:5px;
      border-color:lightgray;
      border-style: solid;
      border-width: 1px;
      margin-top:25px;
      margin-right: 40px;
      background-color: white;
    }

    .fit{
      max-width:100%;
      width: 125px;
    }

    .cijena{
      bottom: 15px;
      margin-top: 15px;
    }

    .button {
      border-radius: 5px;
      transition-duration: 0.4s;
      background-color: white;
      border-color: lightblue;
      color:black;
      margin: -5px;
      width: 120px;

    }
    
    .button:hover {
      background-color: lightblue;
      color: white;
    }

    .dodan {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 200ms ease-in-out;
      border: 1px solid black;
      border-radius: 10px;
      z-index: 10;
      background-color: white;
      width: 500px;
      max-width: 80%;
    }
    
    .dodan.active {
      transform: translate(-50%, -50%) scale(1);
    }
    
    .dodan-header {
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
    }
    
    .dodan-header .title {
      font-size: 1.25rem;
      font-weight: bold;
    }
    
    .dodan-header .close-button {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 1.25rem;
      font-weight: bold;
    }
    
    .dodan-body {
      padding: 10px 15px;
    }
    
    #overlay {
      position: fixed;
      opacity: 0;
      transition: 200ms ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .5);
      pointer-events: none;
    }
    
    #overlay.active {
      opacity: 1;
      pointer-events: all;
    }
    .modal-container{
      background-color: rgba(0, 0, 0, .3);
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      opacity: 0;
      pointer-events: none;
    }

    .modal-container.show{
      opacity: 1;
      pointer-events: auto;
    }

    .modal{
      background-color: white;
      border-radius: 5px;
      padding: 30px 50px;
      width: 600px;
      max-width: 100%;
      text-align: center;
    }

    .modal h1{
      margin: 0;
    }

    .modal p {
      font-size: 14px;
      opacity: 0.7;
    }